footer {
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);

    h3 {
        color: white;
    }

    p,
    h5,
    h6 {
        color: #ffffff;
    }

    .links p {
        line-height: 12px;
    }

    span {
        font-size: 20px;
        color: white;
    }

    .status {
        margin: 0 20px !important;
        padding: 20px;
        border-radius: 10px;

    }
}